.about-me-container {
}

.about-me-card {
  padding: 1em;
}

/* SKILLS */
.skill-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  gap: 20px;
}

.skill-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Container das bolinhas */
.level-container {
  display: flex;
  gap: 8px; /* Espaço entre as bolinhas */
}

/* A bolinha vazia (Base) */
.level-dot {
  width: 12px;
  height: 12px;
  background-color: var(--text-main); /* Cinza claro */
  border-radius: 50%; /* Faz virar círculo */
  transition: all 0.3s;
}

.level-dot.filled {
  background-color: var(--primary); /* Azul destaque */
  box-shadow: 0 0 5px var(--primary); /* Leve brilho */
}

.level-text {
  font-size: 0.75rem;
  margin: 0;
}

.skill-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 1em 2em;
  border: 1px solid var(--glass-bg);
  border-radius: 10px;
  backdrop-filter: blur(5px);
}

/* === EXPERCIENCIAS === */
.timeline-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  position: relative;
  padding-left: 1.25em;
}

/* A Linha Vertical */
.timeline-container::before {
  content: '';
  position: absolute;
  top: 1em;
  bottom: 0;
  left: 1.6em;
  width: 2px;
  background-color: var(--primary);
  box-shadow: 0 0 5px var(--primary);
}

/* O Item Individual */
.timeline-item {
  position: relative;
  padding-left: 25px;
}

/* A Bolinha (Dot) */
.timeline-dot {
  position: absolute;
  left: 0; /* Alinha com o container */
  top: 5px; /* Ajuste vertical para alinhar com o título */
  width: 14px;
  height: 14px;
  border-radius: 50%;
  z-index: 1; /* Garante que fique acima da linha */
  background-color: var(--primary); /* Azul destaque */
  box-shadow: 0 0 5px var(--primary); /* Leve brilho */
}

.timeline-date {
  font-size: 0.85rem;
  color: var(--primary);
  font-weight: bold;
}

.time-linerolecompany {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -1rem;
  margin-bottom: -0.75rem;
  font-size: 1.1rem;
}

.timeline-company {
  color: var(--secondary);
}

.timeline-desc {
  margin-top: 0.25em;
}

/* === LOVE CARD === */
.loves-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  height: auto;
  align-items: center;
  gap: 10px;
}

.love-pic {
  border-radius: 10px 10px 10px 10px;
  object-fit: cover;
  height: 250px;
  width: 100%;
}

@media (min-width: 768px) {
  .about-me-container {
    width: 800px;
  }
}
@media (max-width: 768px) {
  .about-me-container {
    text-align: left;
  }
  .time-linerolecompany {
    display: flex;
    flex-direction: column;
    margin: -1.5rem;
  }
  .timeline-role {
    margin-top: -1rem;
    margin-bottom: 2rem;
  }
}
