.project-card {
  color: inherit;
  text-align: left;
}
.project-card:hover {
  color: inherit;
}

.link-post {
  font-size: 1.5em;
}
.link-post:hover {
  color: var(--secondary);
}

.post-date {
  margin-top: 0.25em;
  font-size: 0.8em;
  color: var(--primary);
  text-align: left;
}
.post-description {
  margin-top: -5px;
  text-align: left;
}
.tag-grid {
  display: flex;
  flex-direction: row;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  margin-top: -1em;
}
.tag {
  margin-top: auto;
  width: auto;
  font-size: 0.8em;
  margin-right: 10px;
  border-radius: 5px;
  background-color: rgb(117, 117, 117);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  padding: 2px 5px;
}

.link-post {
  text-align: left;
}
