.footer {
  /* Layout */
  display: flex;
  justify-content: space-between; /* Joga um grupo pra cada ponta */
  align-items: center;
  padding: 20px 40px;
  margin-top: 80px; /* Garante espaço do último conteúdo */

  /* Estilo Visual (Vidro Escuro ou Claro dependendo do gosto) */
  background: var(--glass-bg);

  color: var(--text-main);
  font-size: 0.9rem;
  font-weight: 700;
}

/* Links Sociais no Footer */
.footer-socials {
  display: flex;
  gap: 20px;
}

.footer-socials a {
  color: var(--text-main);
  transition: all 0.2s;
  display: flex;
}

.footer-socials a:hover {
  color: var(--secondary); /* Azul destaque */
  transform: translateY(-2px);
}

.footer-copy p {
  margin: 0;
  font-weight: 500;
  opacity: 0.8;
}

/* Responsividade para celular: Um embaixo do outro */
@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
}
