#root {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.starter-card {
  width: 100%;
  text-align: left;
  display: grid;
  grid-template-columns: 1.2fr 1.1fr;
  padding-left: 0;
}

.avatar {
  text-align: center;
  border-radius: 10%;
  width: 17rem;
}

.right-starter-decor {
  display: flex;
  justify-content: right;
  align-items: center;
}
.left-starter-decor {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-link {
  display: inline-flex; /* Comporta-se como texto por fora, mas flexível por dentro */
  align-items: center; /* Centraliza verticalmente (ícone e texto na mesma altura) */
  gap: 0.5rem; /* Espaço entre o ícone e o texto */

  text-decoration: none;
  color: var(--text-main);
  padding: 1.5em 0.5em;
  transition: all 0.2s ease;
}

.social-link:hover {
  transform: translateY(-3px);
  color: var(--secondary);
  text-shadow: 0 4px 12px var(--secondary);
}

.myname {
  display: inline-flex;
  color: var(--primary);
}
.myname::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 150%;
  left: 50%;
  transform: translateX(-50%);

  background-color: var(--glass-bg);
  color: var(--text-main);
  padding: 5px 10px;
  border-radius: 0px;

  transition:
    opacity 0.3s,
    visibility 0.3s;
}

.myname:hover::after {
  visibility: visible;
  opacity: 1;
}
.myname:hover {
  transform: translateY(-5px);
  color: var(--primary);
  transition: all 0.2s ease;
}

.aviao {
  display: inline-flex;
  transition: all 0.2s ease;
}

.aviao::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 150%;
  left: 50%;
  transform: translateX(-50%);

  background-color: var(--glass-bg);
  color: var(--text-main);
  padding: 5px 10px;
  border-radius: 0px;

  transition:
    opacity 0.3s,
    visibility 0.3s;
  width: 10em;
}

.aviao:hover::after {
  visibility: visible;
  opacity: 1;
}
.aviao:hover {
  transform: translateY(-5px) translateX(5px);
}

@media (max-width: 768px) {
  #root {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    width: 100%;
  }
  .starter-card {
    grid-template-columns: 1fr;
    width: 80%;
    margin: auto;
  }
  .container {
    text-align: center;
    justify-content: center;
  }
  .social-link {
    margin: auto;
  }
}
