@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Science+Gothic:wght@100..900&display=swap');
:root {
  font-family: 'Oswald', sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  letter-spacing: 0.5px;

  --primary: #2563eb;
  --primary-hover: #1d4ed8;

  /* Cores de Texto */
  --text-main: #c2c2c2; /* Branco quase puro (para títulos) */
  --text-body: #a4b0c0; /* Cinza claro (para parágrafos, cansa menos a vista) */
  --text-muted: #64748b; /* Cinza escuro (para datas, rodapé) */
  --bg-dark: #0f172a; /* A cor do fundo do espaço */
  --glass-bg: rgba(255, 255, 255, 0.1); /* O fundo de vidro dos cards */
  --glass-border: rgba(255, 255, 255, 0.1); /* A borda dos cards */
}
.background-effects {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Joga para trás do texto */
  filter: blur(4px); /* Ajuste esse número: 2px (sutil) a 8px (nebulosa) */
  transform: scale(1.1);
}
body {
  margin: 0;
  color: var(--text-main);
  background-color: var(--bg-dark);
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: inherit;
  color: var(--primary);
}

a:hover {
  color: var(--primary-hover);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  background-color: #28326e;
  border-radius: 10px;
  text-shadow: 0 0 10px #ffffff;
  transition: all 0.2s ease;
}

button:hover {
  transform: translateY(-5px);
  text-shadow: 0 0 10px #ffffff;
  box-shadow: 0 0 10px #28326e;
}

.card {
  padding: 1em 2em;
  margin-top: 2rem;
  border-radius: 10px;
  backdrop-filter: blur(5px);
}
