.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  background-color: var(--glass-bg);
  z-index: 1000;
}

.navbar-links {
  display: flex;
  gap: 30px;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--text-main);
  font-weight: 500;
  transition: all 0.2s;
  padding: 8px 12px;
  border-radius: 6px;
}

.nav-item:hover {
  color: inherit;
}

.nav-item.active {
  color: var(--primary);
  background: var(--primary-hover);
}

.home-container,
.cv-container {
  padding-top: 100px;
}

/* Tema escuro/claro */
.theme-toggle-button {
  border: 1px solid transparent;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  background-color: transparent;
  border-radius: 30px;
  color: var(--text-main);
}

.theme-toggle-button:hover {
  background-color: var(--secondary);
  transform: translateY(0px);
}
