.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  background-color: var(--glass-bg);
  z-index: 1000;
}

.navbar-links {
  display: flex;
  gap: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--text-main);
  transition: all 0.2s;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
}

.nav-item:hover {
  color: inherit;
}

.nav-item.active {
  color: var(--primary);
  background: var(--primary-hover);
}

/* Tema escuro/claro */
.theme-toggle-button {
  border: 1px solid transparent;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  background-color: transparent;
  border-radius: 30px;
  color: var(--text-main);
}

.theme-toggle-button:hover {
  background-color: var(--secondary);
  transform: translateY(0px);
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 1rem;
    height: 3.5rem;
  }

  .navbar-links {
    gap: 0.5rem;
  }

  .nav-item {
    font-size: 0; /* O TRUQUE: Esconde o texto do link */
    gap: 0;
    padding: 0.5rem;
    justify-content: center;
  }

  .nav-item svg {
    width: 24px;
    height: 24px;
    font-size: 1.5rem;
  }
}
