.projects-home {
  text-align: left;
  padding: 1em 2em;
  margin: auto;
  margin-top: 5em;
  width: 900px;
  border-radius: 10px;
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

.project-card {
  background: var(--glass-bg);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  text-align: center;
  width: 400px;
}

.project-pic {
  border-radius: 10px 10px 0px 0px;
  backdrop-filter: blur(5px);
  height: 200px;
  width: 100%;

  object-fit: cover;
}
.project-card:hover {
  transform: translateY(-3px);
}
.project-text {
  display: flex;
  text-align: left;
  flex-direction: column;
  height: 100%;
  margin: -10px 10px 20px 20px;
}
