.projects-home {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.projects-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 0 20px;
  box-sizing: border-box;
}

.project-card {
  background: var(--glass-bg);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  width: 100%;
}

.project-pic {
  border-radius: 10px 10px 0px 0px;
  backdrop-filter: blur(5px);
  height: 200px;
  width: 100%;

  object-fit: cover;
}
.project-card:hover {
  transform: translateY(-3px);
}
.project-text {
  display: flex;
  text-align: left;
  flex-direction: column;
  height: 100%;

  margin: -10px 10px 20px 20px;
}
