.tag-grid {
  display: flex;
  flex-direction: row;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  padding-top: 1.5em;
}
.tag-icon {
  font-size: 0.8em;
  margin-right: 1em;
  border-radius: 0.25em;
  background-color: var(--background-tags);
  padding: 0.25em 0.5em;
}
