#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 1em 2em;
  border: none;
  border-radius: 10px;
  background-color: rgb(110, 110, 110);
}

.read-the-docs {
  color: #70d2ff;
}

.MyButton {
  background-color: #277085;
  margin: 0.5em;
  padding: 1em 2em;
  font-size: 1rem;
  border-radius: 10px;
}
