#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  margin: 2em;
}

.read-the-docs {
  color: #70d2ff;
}

.MyButton {
  background-color: #277085;
  border: none;
  padding: 1em 2em;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
